@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  @keyframes soft-bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}

@utility animate-soft-bounce {
  animation: soft-bounce 3s ease-in-out infinite;
}
